#logo {
    height: 110px;
    width: 110px;
    float: left;
}

header {
    background-color: #fedb0f;
    box-shadow: 0 0 10px #2c2002;
}

footer {
    background-color: #fedb0f;
    height: 60px;
}

footer p {
    font-size: 25px;
    text-align: center;
}

nav li {
    list-style: none;
}

nav a {
    box-sizing: content-box;
    font-size: 25px;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
}
img {
   width: 50%;
   height: 50%;
}

#main {
    min-width: 100%;
}

nav {
    background-color: #ffe33f;
}

nav a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #ffe655;
}

nav ul {
    padding: 0;
}

main {
    background-color: ghostwhite;
}
